@if (applicationNode) {
  <div class="component">
      <div class="section">
          <h1>Robot State Monitor</h1>
          @if (runtimeState$ | async; as runtimeState) {
              <h3>Runtime State: {{ runtimeState }}</h3>
          }
          @if (safetyStatus$ | async; as safetyStatus) {
              <h3>Safety Status: {{ safetyStatus }}</h3>
          }
          @if (actualTcpPose$ | async; as actualTcpPose) {
              <div>
                  <h3>Actual TCP Pose:</h3>
                  <ul>
                    <li>X: {{ actualTcpPose[0] | number:'1.4-4' }}</li>
                    <li>Y: {{ actualTcpPose[1] | number:'1.4-4' }}</li>
                    <li>Z: {{ actualTcpPose[2] | number:'1.4-4' }}</li>
                    <li>RX: {{ actualTcpPose[3] | number:'1.4-4' }}</li>
                    <li>RY: {{ actualTcpPose[4] | number:'1.4-4' }}</li>
                    <li>RZ: {{ actualTcpPose[5] | number:'1.4-4' }}</li>
                </ul>
              </div>
          }
          @if (error$ | async; as errorMessage) {
              <p>{{ errorMessage }}</p>
          }
          <ur-button (handleClick)="startMonitoring()" [disabled]="isMonitoring">Start Monitoring</ur-button>
          <ur-button (handleClick)="stopMonitoring()" [disabled]="!isMonitoring">Stop Monitoring</ur-button>
      </div>
  </div>
}
